body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: Gazpacho-Black;
  src: url(Gazpacho\ Black.ttf);
}
@font-face {
  font-family: Gazpacho-Medium;
  src: url(Gazpacho\ Medium.ttf);
}
@font-face {
  font-family: WorkSans;
  src: url(WorkSans-VariableFont_wght.ttf);
}

#logo,
#loginTitle {
  font-family: Gazpacho-Black;
  color: #007cc8;
}

#navbar,
#content,
#loginform,
#forgotpassform,
#dashfooter {
  font-family: WorkSans;
}

#employeePic {
  width: 200px;
  height: 200px;
}

#employeePicHeader {
  width: 40px;
  height: 40px;
}

label.form-label {
  font-weight: 600 !important;
}
